<app-bech-header></app-bech-header>
<main role="main" class="container">
  <section class="mt-5">
    <div class="section-border dash-container">
      <div class="dash-maintext">
          <p>Si tienes alguna duda de alguna funcionalidad, puedes revisar preguntas frecuentes sobre el funcionamiento</p>
      </div>
      <container>
        <ng-container *ngFor="let n of apps_array">
            <block class="text-center" (click)="go_to('/questions-in-detail')">
              <div class="app-icon">
                  <i class="material-icons">{{n.icon}}</i>
              </div>
              <div class="app-name">
                {{n.name}}
              </div>
            </block>
        </ng-container>
      </container>
    </div>
  </section>
  <div class="dash-button">
      <button type="button" class="btn btn__first-l">Cerrar</button>
  </div>
  
</main>
<app-bech-footer></app-bech-footer>