@import './base/variables';
@import './base/mixins';
@import './base/fonts';
@import './base/spacing';
@import './base/position';
@import './components/buttons';
@import './vendors/material-icons';

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: $open-sans;
    font-weight: normal;
}

h1 {
    color: $orange;
    font-family: $open-semi;
    font-size: 1.125em;
    width: 92%;
}


.icon-bech-color{
    color: $orange;
}

.back {
    width: 5%;
    color:$orange;
}

.section-border{
    box-shadow: 0 0 6px $box-shadow;
    -webkit-box-shadow: 0 0 6px $box-shadow;
    padding: 5px;
    border: 1px solid $transparent-dash;
    border-radius: 9px;
}