.mt-5, .my-5 {
  margin-top: 5rem!important;
}

.mb-10{
  margin-bottom: 10px!important;
}

.mb-20{
  margin-bottom: 20px!important;
}
.pt-20 {
  padding-top: 20px;
}

.pb-20{
  padding-bottom: 20px;
}

.pt-13 {
  padding-top: 13px;
}

.pb-13{
  padding-bottom: 13px;
}
