$orange-dark:#A71500;
$orange: #E15A0F;
$orange-light: #e2621b;
$gray-dark: #818181;
$gray-light: #969696;
$gray-lightest:#ddd;
$gray-lighter:#eeeeee;
$white: #f5f5f5;
$transparent-dash:"#96969605";
$transparent-finder:#dddddd;
$transparent-focused:rgba(255,255,255,.15);
$red-error: #D50000;
$box-shadow: rgba(0, 0, 0, 0.2);
